<div class="container mt-4">
  <div class="card shadow-sm rounded">
    <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Search Results</h5>
      <%= link_to "Download Excel", results_vehicles_path(request.query_parameters.merge(format: :xlsx)), class: "btn btn-light text-success" %>
    </div>

    <div class="card-body">
      <% if @vehicles.any? %>
        <table class="table table-bordered table-striped">
          <thead style="background-color: #cce5ff; color: black;">
            <tr>
              <th>Vehicle Number</th>
              <th>Check Date</th>
              <th>Owner</th>
              <th>Checkpost</th>
              <th>Char Dham Reg. No.</th>
              <th>Trip Card</th>
              <th>Green Card</th>
              <th>Dham(s)</th>
              <% unless current_user.reader? %>
                <th>Action</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @vehicles.each do |vehicle| %>
              <tr>
                <td><%= vehicle.vehicle_number %></td>
                <td><%= vehicle.check_date %></td>
                <td><%= vehicle.owner %></td>
                <td><%= vehicle.checkpost %></td>
                <td><%= vehicle.char_dham_registration_number %></td>
                <td><%= vehicle.trip_card_status %></td>
                <td><%= vehicle.green_card_status %></td>
                <td><%= vehicle.formatted_dham_destinations %></td>
                <% unless current_user.reader? %>
                  <td>
                    <%= link_to "Show", vehicle_path(vehicle), class: "btn btn-sm btn-outline-primary" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="d-flex justify-content-center mt-3">
          <%= paginate @vehicles %>
        </div>
      <% else %>
        <p class="text-center">No matching vehicles found.</p>
      <% end %>
    </div>
  </div>
</div>
