<div class="container mt-4">
  <div class="card shadow-sm rounded">
    
    <div class="card-body">
      <%= form_with url: results_vehicles_path, method: :get, local: true do %>
        <div class="row">
          <div class="col-md-4 mb-3">
            <%= label_tag :vehicle_number, "Vehicle Number" %>
            <%= text_field_tag :vehicle_number, params[:vehicle_number], class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :start_date, "Start Check Date" %>
            <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :end_date, "End Check Date" %>
            <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :owner, "Owner Name" %>
            <%= text_field_tag :owner, params[:owner], class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :checkpost, "Checkpost" %>
            <%= text_field_tag :checkpost, params[:checkpost], class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :char_dham_registration_number, "Char Dham Registration No." %>
            <%= text_field_tag :char_dham_registration_number, params[:char_dham_registration_number], class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :green_card_status, "Green Card Status" %>
            <%= select_tag :green_card_status, options_for_select([["", ""], ["Yes", "Yes"], ["No", "No"]], params[:green_card_status]), class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :trip_card_status, "Trip Card Status" %>
            <%= select_tag :trip_card_status, options_for_select([["", ""], ["Active", "Active"], ["Expired", "Expired"]], params[:trip_card_status]), class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :number_of_pilgrims, "Number of Pilgrims" %>
            <%= number_field_tag :number_of_pilgrims, params[:number_of_pilgrims], class: "form-control" %>
          </div>

          <div class="col-md-4 mb-3">
            <%= label_tag :registered_in_uttarakhand, "Registered in Uttarakhand" %>
            <%= select_tag :registered_in_uttarakhand, options_for_select([["", ""], ["true", "Yes"], ["false", "No"]], params[:registered_in_uttarakhand]), class: "form-control" %>
          </div>

          <div class="col-md-12 mb-3">
            <%= label_tag :dham_destinations, "Dham Destinations" %>
            <%= select_tag :dham_destinations,
                options_for_select([
                  "Yamunotri Ji",
                  "Gangotri Ji",
                  "Kedarnath Ji",
                  "Badrinath Ji",
                  "Hemkund Sahib"
                ], params[:dham_destinations]),
                multiple: true,
                class: "form-control select2" %>
          </div>

          <div class="col-md-12 mb-3">
            <%= label_tag :remarks, "Remarks" %>
            <%= text_field_tag :remarks, params[:remarks], class: "form-control" %>
          </div>
        </div>

        <div class="text-end mt-3">
          <%= submit_tag "Search", class: "btn btn-success px-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
